/* Element Selector */
.background_img{
	background:#FFFFFF;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	margin-top: 10px;
	margin-bottom: 50px;
	margin: 0;
	position: relative;
}

/* For styling NavBar */
.navbar.navbar-expand-lg.navbar-light li a{
	color: white;
    padding: 8px 8px;
    font-size: 15px;
    font-weight: 500;
}

.navbar.navbar-expand-lg.navbar-light li a:hover {
	color: rgba(255, 255, 255, 0.618);
}

.btn_flashy {
	background-color: #FF5A5F;
	border-radius: 15px;
	margin: auto;
}

.change_line {
	border: 0.5px solid #000000;
}

.change_line_navbar {
	border: 0.2px solid #000000;
}

.btn.btn-outline-primary.rounded.nohover {
	pointer-events: none;
}

.navbar_move {
	position: relative;
	right: 90px;
}

.menu_property {
	background-color: #FF5A5F;
	border-radius: 15px;
	margin: 5px;
}

.dropdown_father {
	background-color: #FF5A5F;
}

.dropdown_children {
	color: white;
	border-radius: 15px;
	margin: 5px;
	width: auto;
}

.dropdown_children:hover{
	background-color: #FF5A5F;
}

.setting-menu {
	position: relative;
	bottom: -8px;
}

.container-father {
	width: 100vw;
	height: auto;
	font-weight: bold;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.container-father div {
	padding: 2px;
	border: 0.5px solid #000000;
}

.content-left {
	font-size: 2px;
	grid-column-start: 1;
	grid-column-end: 1;
}

.content-center {
	grid-column-start: 2;
	grid-column-end: 3;
	width: 60vw;
}

.content-right {
	grid-column-start: 3;
	grid-column-end: 4;
}

.select-box_div:hover {
	border: 2px solid #000000;
}

.title-box_div {
	margin: 10px;
	padding: 10px;
	font-size: 22px;
}

.position-title {
	display: inline-block;
	position: relative;
	margin: 4px;
	left: 15px;
}

h3 {
	padding: 15px;
	font-size: 15px;
}

p {
	font-size: 15px;
	text-align: center;
}

/*
	MEDIA QUERY.
	Son utilizados para una determinada resolucion
	hacer algo en este caso
*/

@media (min-height: 801px) {
	.container-father{
		min-height: 85vh;
	}
}

@media (max-height: 800px) {
	.container-father{
		min-height: 610px;
	}
}