/* An external style sheet can be written in any text editor. The file should not contain any html tags. The style sheet file must be saved with a .css extension. */

/* Element Selector */
.background_img{
	background:#ffffff;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	margin-top: 10px;
	margin-bottom: 50px;
	position: relative;
}

/* For styling NavBar */
.navbar.navbar-expand-lg.navbar-light li a{
	color: rgb(0, 0, 0);
    padding: 8px 8px;
    font-size: 15px;
    font-weight: 500;
}

.navbar.navbar-expand-lg.navbar-light li a:hover {
	color: rgba(85, 77, 77, 0.618);
}

.checked {
    color: rgb(0,132,137)
}

.btn-primary.btn-lg {
	background-color: rgb(255,90,95);
	border-color: rgb(255,90,95);
	font-size: 16px;
}

.btn_flashy {
	background-color: #FF5A5F;
	border-radius: 15px;
	margin: auto;
}

.change_line {
	border: 0.5px solid #FF5A5F;
}

.change_line_navbar {
	border: 0.2px solid #000000;
}


.container li a {
	color: #767676;
	text-decoration: none;
}

.btn.btn-outline-primary.rounded.nohover {
	pointer-events: none;
}

.btn.btn-primary.new {
	background-color: rgb(0, 106, 112);
	border: none;
	font-size: 12px;
	padding: 1px 4px;
}

.navbar_move {
	position: relative;
	right: 125px;
}

.menu_property {
	background-color: #FF5A5F;
	border-radius: 15px;
	margin: 5px;
}

.dropdown_father {
	background-color: #FF5A5F;
}

.dropdown_children {
	color: white;
	border-radius: 15px;
	margin: 5px;
	width: auto;
}

.dropdown_children:hover{
	background-color: #FF5A5F;
}
.setting-menu {
	position: relative;
	bottom: -8px;
}

.principal-container {
	background:#FFFFFF;
	margin: 0 auto;
	min-height: 603px;
	height: auto;
	width: 95%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 9px;
	box-sizing: border-box;
}

.hosting-profile-container {
	width: 225px;
	min-height: 338px;
	margin-bottom: 15px;
}

.letter-profile-container{
	font-size: 14px;
	margin: 0;padding: 4px;
}

.material-icons {
	position: relative;
	padding: 10px;
	display: flex;
	justify-content:end;
}

.img-hosting-profile {
	border-radius: 25px;
	height: 100px;
	width: 100px;
	width: 225px;
	height: 225px;
}

.hosting-profile-link {
	text-decoration: none;
	color: #000000;
}

.hosting-profile-link:hover {
	text-decoration: none;
	color: #000000;
}


@media (min-height: 801px) {
	.form_line {
		height: 130px;
	}

	.principal-container {
		min-height: 820px;
	}

	.container, .footer-container {
		position: relative;
		top: 214px;
	}
}

@media (max-height: 800px) {
	.form_line {
		visibility: hidden;
		display: none;
	}
}