<!DOCTYPE html>
<html>
	<head>
		<!-- SE ACTIVA COMO PARTE DEL PANEL DE VISITANTE-->

		<!-- The name between <title> tag defines the title of the document. -->
		<title>Alojamiento Responsable</title>

		<!-- Bootstrap 4 is designed to be responsive to mobile devices. Mobile-first styles are part of the core framework.

		To ensure proper rendering and touch zooming, add the following <meta> tag inside the <head> element: -->

			<meta name="viewport" content="width=device-width, initial-scale=1">

			<!-- Bootstrap link -->

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
			
			<!-- Font selection link -->

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			<!-- The Styles used has been stored and saved in another file named "style.css" and linked through <link> tag as shown below: -->	

			<link rel="stylesheet" href="/style/por-que-anfitrion.css">
			<!--Airbnb icon-->
			<link rel="shortcut icon" type="image/x-icon" href="/sources/Airbnb icon.ico"/>
		</head>
		<body class="background_img">

				<!-- This is to display the Navbar of the website. -->

				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="collapse navbar-collapse">

					<!-- SVG for Logo -->
					<a href="./home"><img src="/sources/airbnb icon black.png" alt="" style="height: 40px; width: 40px; left: 15px; position: relative;"></a>
					<h4 style="position: relative; left: 20px;">Centro de ayuda</h4>
					<!-- End of SVG -->

					<ul class="navbar-nav ml-auto navbar_move">
						<li class="nav-item btn_flashy"><a class="nav-link" href="become-host">Hazte Anfitri&oacuten</a></li>
						
						<li class="nav-item dropdown">
							<a class="nav-link menu_property" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="material-symbols-outlined setting-menu">menu</span>
								<img class="rounded-circle" src="/sources/person-icon.png" alt="" style="width: 40px; height: 40px;">
							</a>
	
							<ul class="dropdown-menu dropdown_father">
								<li><a class="dropdown-item dropdown_children" href="./">Iniciar Sesi&oacuten</a></li>
								<li><a class="dropdown-item dropdown_children" href="./register">Registrarse</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/messages-guest">Mensajes</a></li>
								<li><a class="dropdown-item dropdown_children" href="/notification-guest">Notificaciones</a></li>
								<li><a class="dropdown-item dropdown_children" href="/favorites-guest">Lista de Favoritos</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/receives-guest">Recibe hu&eacutespedes</a></li>
								<li><a class="dropdown-item dropdown_children" href="/account">Cuenta</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/help">Ayuda</a></li>
								<li><a class="dropdown-item dropdown_children" href="#">Cerrar Sesi&oacuten</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</nav>
            <hr class="change_line">

			<!-- End of NavBar -->

			<!-- This is to display the message box of the panel guest in the website. -->

			<div class="container-father">
				<div class="content-center select-box_div">
					<h2 class="title-box_div position-title">Alojamiento responsable</h2>
					<hr class="change_line">
					<div>
						<h4>Hospeda con responsabilidad</h4>
						<p>Animamos a los anfitriones a que reflexionen sobre sus responsabilidades. Ser anfitrión es muy enriquecedor, pero también implica cierto nivel de compromiso. Además de tener en cuenta los requisitos básicos que esperamos de todos los anfitriones, aquí tienes algunos consejos sobre cómo ser un anfitrión responsable.*</p>
						<br>

						<div class="content-table">
							<table>
								<tr>
									<td>
										Tabla de Contenido.
										<ol>
											<li>
												<a href="#title1">Salud y limpieza</a>
											</li>
	
											<li>
												<a href="#title2">Seguridad</a>
											</li>
	
											<li>
												<a href="#title3">Vecinos</a>
											</li>
	
											<li>
												<a href="#title4">Permisos</a>
											</li>

											<li>
												<a href="#title5">Normas generales</a>
											</li>

											<li>
												<a href="#title6">Normtiva local</a>
											</li>

											<li>
												<a href="#title7">Unirse a un club de anfitriones local</a>
											</li>

											<li>
												<a href="#title8">Cosas importantes que debes verificar</a>
											</li>
											
											<li>
												<a href="#title9">Seguros</a>
											</li>
										</ol>
									</td>
								</tr>
							</table>
						</div>
						<hr style="height: 150px; visibility: hidden;">

						<h4 id="title1">1. Salud y limpieza</h4>
                        <hr class="change_line" style="width: 630px;">
                            <p>Encontrarás todo lo que debes saber sobre el proceso de limpieza avanzada en 5 pasos de Airbnb en la información general para anfitriones de alojamientos.</p>
                            <p><b>Recomendaciones importantes sobre la limpieza</b></p>
								<ul>
									<li>
										<p>Recomendaciones sobre esperar un tiempo para entrar al alojamiento antes de la limpieza y desinfección de los Centros para el Control y la Prevención de Enfermedades (CDC) de Estados Unidos.</p>
									</li>

									<li>
										<p>Explicación sobre cómo leer las etiquetas de los productos químicos de la Administración de Seguridad y Salud Ocupacional (OSHA, por sus siglas en inglés) de Estados Unidos</p>
									</li>
								</ul>
							<p><b>Recursos generales</b></p>
								<ul>
									<li>
										<p>Pautas de limpieza y desinfección: recomendaciones provisionales de los Centros para el Control y la Prevención de Enfermedades (CDC) de Estados Unidos</p>
									</li>
									<li>
										<p>Indicaciones sobre la COVID-19 de la Agencia de Protección Ambiental (EPA, por sus siglas en inglés) de Estados Unidos: recursos importantes de la EPA sobre la enfermedad por coronavirus</p>
									</li>
								</ul>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title2">2. Seguridad</h4>
						<hr class="change_line" style="width: 630px;">
							<h5>¿Qué puedo hacer para garantizar la seguridad de los huéspedes en mi alojamiento?</h5>
							<br>
							<h5>Procedimientos de emergencia</h5>
							<br>
                            
							<p><b>Información de contacto</b></p>
							<p>Indica los números de emergencia locales y el hospital más cercano. Asegúrate de que sea fácil para los huéspedes ubicar tu número de contacto en caso de emergencias, así como el de otra persona en caso de que tú no estés disponible. También explica con claridad cuál es la mejor manera de contactarte en caso de que el huésped tenga alguna pregunta o problema.</p>
							<br>

							<p><b>Productos</b></p>
							<p>Deja a mano un botiquín de primeros auxilios.</p>
							<br>

							<p><b>Prevención de incendios</b></p>
							<p>Asegúrate de instalar detectores de humo y de monóxido de carbono que funcionen adecuadamente, y de que tu alojamiento cumpla con los lineamientos de seguridad locales (por ejemplo, el Código de Edificación de Vivienda). Debes contar con un extintor en perfecto estado de funcionamiento y mantenimiento.</p>
							<br>

							<p><b>Salidas</b></p>
							<p>Asegúrate de indicar claramente cualquier salida de emergencia y pon un mapa en tu alojamiento.</p>
							<br>
							
							<br>
							<h5>Reduce los riesgos</h5>
							<br>

							<p><b>Privacidad</b></p>
							<p>Siempre ten en cuenta la privacidad de tus huéspedes. Declara si hay cámaras de seguridad u otros equipos de vigilancia en tu alojamiento o los alrededores. Asegúrate de conocer y cumplir las leyes locales, estatales y federales aplicables.</p>
							<br>

							<p><b>Ocupación</b></p>
							<p>Establece límites de ocupación seguros. Es posible que las autoridades locales puedan asesorarte al respecto.</p>
							<br>

							<p><b>Áreas de acceso</b></p>
							<p>Haz un recorrido por tu alojamiento para identificar cualquier zona en la que los huéspedes puedan tropezar o caer y elimina los riesgos o márcalos claramente. Retira todos los cables que estén a la vista. Asegúrate de que las escaleras sean seguras y tengan barandas. Retira o guarda bajo llave cualquier objeto que pueda ser peligroso para tus huéspedes.</p>
							<br>

							<p><b>Protecciones para niños</b></p>
							<p>Asegúrate de que tu alojamiento es seguro para niños o avisa a los huéspedes de cualquier peligro potencial.</p>
							<br>

							<p><b>Climatización</b></p>
							<p>Asegúrate de que tu alojamiento esté adecuadamente ventilado y de que el control de temperatura esté claramente marcado y funcione. Además, debes dejar claro a tus huéspedes cómo usar la calefacción sin peligro.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title3">3. Vecinos</h4>
						<hr class="change_line" style="width: 630px;">
							<h5>¿Qué puedo hacer para no molestar a mis vecinos?</h5>
							<br>
							
							<p><b>Reglas del edificio</b></p>
							<p>Asegúrate de comunicarles a tus huéspedes cuáles son las reglas de las zonas comunes de tu edificio. También puedes informar a tus vecinos que recibirás huéspedes y recordar a estos últimos que no los molesten (p. ej. que no llamen a su puerta o timbre para que les abran).</p>
							<br>

							<p><b>Para fumadores</b></p>
							<p>Si no permites que fumen en tu alojamiento, te recomendamos que pongas carteles para recordárselo a tus huéspedes. Si, por el contrario, está permitido, recuerda dejar ceniceros a su disposición en las áreas indicadas.</p>
							<br>

							<p><b>Estacionamiento</b></p>
							<p>Deja claras las reglas del estacionamiento del edificio o del vecindario a los huéspedes.</p>
							<br>

							<p><b>Ruido</b></p>
							<p>Recuérdales a los huéspedes que no hagan ruido. Decide si quieres aceptar bebés, mascotas o fiestas. Además, debes dejar claro si los huéspedes pueden invitar a otras personas y asegurarte de que entiendan tu “política de fiestas”.</p>
							<br>

							<p><b>Mascotas</b></p>
							<p>En caso de que admitas mascotas, comenta a los huéspedes si hay parques cerca y cuáles son las normas de la zona (p. ej., recoger los excrementos de los perros, etc.). Cuenta con un plan alternativo por si la mascota de un huésped molesta a los vecinos (por ejemplo, facilítale el número de un hotel de mascotas cercano).</p>
							<br>

							<p><b>Reglas de la casa</b></p>
							<p>Para evitar sorpresas, puedes incluir la información que mencionamos en la sección Reglas de la casa de tu anuncio en Airbnb.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title4">4. Permisos</h4>
						<hr class="change_line" style="width: 630px;">
                            <h5>¿A quién tengo que notificarle que brindaré servicios de anfitrión en Airbnb?</h5>
							<br>
								
							<p><b>Contratos</b></p>
							<p>Consulta las normativas de tu asociación de propietarios o junta cooperativa para asegurarte de que no existe ninguna prohibición contra el subarrendamiento o cualquier otra restricción que no te permita ser anfitrión. Lee atentamente tu contrato de alquiler y contacta al arrendador si es necesario. Puedes agregar una cláusula adicional a tu contrato que tenga en cuenta estos asuntos y que describa las responsabilidades y obligaciones de todas las partes.</p>
							<br>

							<p><b>Compañeros de casa</b></p>
							<p>Si vives con compañeros en el alojamiento, puedes plantearte la posibilidad de redactar un acuerdo con ellos donde figure información como con qué frecuencia piensas compartir tu espacio, cómo te asegurarás de que tus huéspedes sigan las reglas de la casa o incluso si piensas repartir las ganancias con tus ellos, en caso de que creas que debes hacerlo.</p>
							<br>

							<p><b>Vecinos</b></p>
							<p>Considera la posibilidad de avisar a tus vecinos que compartirás tu espacio y de explicarles qué medidas piensas tomar para asegurarte de que los huéspedes no les causarán molestias.</p>
							<br>

							<p><b>Alojamiento subvencionado</b></p>
							<p>Si resides en una vivienda digna o subsidiada públicamente, puede que se te apliquen reglas especiales. Si tienes dudas al respecto, seguramente el administrador de la propiedad puede ayudarte a resolverlas.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title5">5. Normas generales</h4>
						<hr class="change_line" style="width: 630px;">
                            <h5>¿Qué regulaciones locales aplicarían para mí?</h5>
							<br>
								
							<p><b>Impuestos</b></p>
							<p>Asegúrate de consultar los impuestos locales o los requisitos de licencia comercial que puedan aplicarse. Ten en cuenta los impuestos sobre la ocupación hotelera o alojamientos temporales, los impuestos sobre ventas y otros impuestos al volumen de negocios como el Impuesto al Valor Agregado (IVA) o el impuesto sobre los bienes y servicios, y el impuesto sobre la renta.</p>
							<br>

							<p><b>Permisos o registros</b></p>
							<p>Asegúrate de que cumples con cualquier normativa urbanística, sobre permisos, de seguridad y de salud que puedan aplicarse en tu caso. Las autoridades gubernamentales que regulan el uso y el desarrollo de la propiedad en tu zona pueden proporcionarte información útil sobre esta normativa.</p>
							<br>

							<p><b>Alquiler regulado o limitado</b></p>
							<p>Si resides en una vivienda de alquiler de renta fija o controlada, puede que se apliquen normas especiales. Contáctate con el organismo de control de alquileres local o con otro organismo competente para obtener más información.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title6">6. Normativa local</h4>
						<hr class="change_line" style="width: 630px;">
                            <p>Como anfitrión en Airbnb, es importante que comprendas las leyes de tu ciudad, condado, estado, provincia, territorio autónomo y/o país (es decir, tu “jurisdicción”). Airbnb es una plataforma comercial, así que no proporcionamos asesoramiento legal. Sin embargo, nos parece importante comunicarte algunas consideraciones que te ayuden a entender mejor las leyes y normas de tu jurisdicción. Esta lista no es exhaustiva, pero debería proporcionarte un buen punto de partida para entender el tipo de leyes a las que podrías estar sujeto. Si tienes alguna duda, ponte en contacto con la administración local o consulta a un asesor legal o fiscal.</p>
							<br>

							<p><b>Licencias comerciales</b></p>
							<p>Muchas jurisdicciones exigen a los propietarios u operadores de ciertas empresas que soliciten y obtengan una licencia antes empezar a ejercer su actividad comercial. Muchos gobiernos locales tienen secciones en sus sitios web que explican el proceso de concesión de licencias comerciales y proporcionan formularios e información relevantes. Para obtener más información, ponte en contacto con las autoridades locales que te correspondan.</p>
							<br>

							<p><b>Normativa sobre urbanización y vivienda</b></p>
							<p>La mayoría de las administraciones locales y, en general, muchas jurisdicciones tienen leyes y normas que establecen requisitos mínimos de construcción, diseño y mantenimiento para los inmuebles, incluidas las normas sobre habitabilidad, salubridad y seguridad. Tu alojamiento podría estar sujeto a ciertas normas aplicables al uso residencial y no residencial. Además, algunas jurisdicciones también podrían exigir una inspección de tu propiedad para asegurarse de que satisface los criterios mínimos de habitabilidad. Ponte en contacto con el gobierno local para saber qué normas se aplican a tu alojamiento.</p>
							<br>

							<p><b>Reglas de zonificación</b></p>
							<p>La mayoría de las ciudades y condados tienen leyes que determinan los fines para los que puedes usar tu propiedad. Con frecuencia, estas reglas se encuentran en un código de zonificación, código de planificación o decretos municipales. Es importante que leas estas normas y leyes para saber si tu alojamiento se ajusta a los requisitos de urbanismo vigentes y al uso que se les atribuye; también puedes consultar directamente a la administración local.</p>
							<br>

							<p><b>Permisos especiales</b></p>
							<p>Slgunas jurisdicciones pueden exigir una licencia específica para poner una vivienda en renta. Para saber si necesitas tramitar este tipo de autorización y averiguar cómo hacerlo, ponte en contacto con la administración local.</p>
							<br>

							<p><b>Impuestos</b></p>
							<p>Muchas jurisdicciones exigen a los anfitriones que recauden un impuesto por cada pernoctación y lo liquiden ante el ayuntamiento o la entidad competente. Para saber si es tu caso, ponte en contacto con la administración local. En algunas jurisdicciones, Airbnb recauda y liquida automáticamente determinados impuestos en tu nombre.</p>
							<br>

							<p><b>Legislación sobre arrendamientos</b></p>
							<p>Si recibes huéspedes en estancias largas, es posible que debas cumplir las leyes sobre arrendamientos urbanos, que varían en función de la jurisdicción. Estas normas podrían imponerte obligaciones económicas específicas y otorgar a los huéspedes derechos adicionales. Por ejemplo, en algunas jurisdicciones, los huéspedes que se alojan en una casa o apartamento durante un peroiodo determinado (el número exacto de días depende de cada jurisdicción) pueden adquirir algunos derechos como arrendatarios. Por lo general, esto quiere decir que la legislación local en materia de arrendamientos podría brindarles protección y que, llegado el caso, no podrías expulsarlos de tu propiedad sin un proceso judicial de desahucio. Para obtener más información, te recomendamos que consultes a un abogado especializado en arrendamientos urbanos.</p>
							<br>

							<p><b>Otras normas</b></p>
							<p>También es importante que entiendas y cumplas las demás reglas y contratos que puedan aplicarse a tu alojamiento, como, por ejemplo, contratos de arrendamiento, las normas de los regímenes de tiempos compartidos, de los administradores de un edificio o sociedad de condóminos, de las organizaciones vecinales o de arrendadores de tu zona. Para saber cuáles debes cumplir, lee detenidamente tu contrato de arrendamiento y consulta al propietario cuando sea necesario. Si resides en una vivienda de alquiler de renta fija o controlada, puede que se apliquen normas especiales. Para obtener más información, ponte en contacto con la administración local.</p>
							<br>

							<p>Estamos comprometidos a trabajar con las autoridades locales para ayudarles a comprender los beneficios que Airbnb aporta a la comunidad. Siempre que sea necesario, continuaremos promoviendo cambios que permitan a las personas poder rentar sus propias viviendas.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title7">7. Unirse a un club de anfitriones local</h4>
						<hr class="change_line" style="width: 630px;">
                            <p>Mientras decides si deseas anfitrionar en Airbnb, es importante que te familiarices con la legislación local en tu ciudad. Si tienes muchas preguntas, comunícate con los anfitriones de tu zona y pídeles consejo. ¡Ellos son los que mejor podrán ayudarte!</p>
							<p>Es muy fácil, solo tienes que buscar el grupo de anfitriones oficial de tu comunidad. ¿No encuentras ninguno en tu zona? Busca tu club de anfitriones local en Facebook.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">
						

						<h4 id="title8">8. Cosas importantes que debes verificar</h4>
						<hr class="change_line" style="width: 630px;">
                            <p><b>Impuestos</b></p>
							<p>El tema de los impuestos puede ser difícil de entender, por lo que te recomendamos que dediques algo de tiempo a averiguar las reglas que se aplican en tu caso y a tu situación particular.</p>
							<p>Ernst and Young preparó un resumen de las consideraciones fiscales que deben tener en cuenta los anfitriones en Airbnb en relación con los impuestos sobre la renta en Estados Unidos. Esta guía está disponible en inglés y puedes consultarla: aquí. Esta información proporciona una visión general de cómo completar tu declaración de impuestos, así como algunas de tus responsabilidades fiscales con respecto a los ingresos que obtuviste de tu actividad como anfitrión en Airbnb y otras plataformas para brindar servicios de anfitrión. La información proporcionada por Ernst and Young se refiere exclusivamente al impuesto sobre la renta de Estados Unidos y no incluye ninguna orientación relacionada con los impuestos sobre el alojamiento, los impuestos hoteleros, el Impuesto sobre el Valor Agregado u otros.</p>
							<p><i><b>Aviso legal:</b> el hecho de que Airbnb ponga a disposición del usuario la información creada por Ernst and Young no implica que la avale. El asesoramiento fiscal es una cuestión muy compleja, por lo que deberías actuar con la debida diligencia para recibir orientación. Airbnb no se hace responsable de ningún tipo de asesoría fiscal o de otro tipo proporcionado por entidades externas.</i></p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">
						

						<h4 id="title9">9. Seguros</h4>
						<hr class="change_line" style="width: 630px;">
                            <p>Trabaja con tu agente de seguros o compañía de seguros para determinar qué tipo de obligaciones, límites y cobertura se requieren para tus circunstancias específicas.</p>

							<p><b>Protección ante daños para anfitriones y Seguro de responsabilidad civil para anfitriones</b></p>
							<p>AirCover para anfitriones incluye una Protección ante daños para anfitriones y un Seguro de responsabilidad civil para anfitriones, que te brindan una cobertura básica ante ciertos daños y responsabilidades. Sin embargo, estos no reemplazan al seguro del propietario, seguro del arrendatario o la cobertura de responsabilidad adecuada. Es posible que también tengas que cumplir otros requisitos con respecto a los seguros.</p>
							<p>Recomendamos encarecidamente a todos los anfitriones que lean detenidamente las condiciones de su póliza de seguros y se aseguren de comprenderlas. No todos los planes de seguros cubren los mismos daños o pérdidas en propiedades si los responsables son huéspedes que alquilaron tu alojamiento.</p>
							<br>

							<p><b>Responsabilidad y cobertura básica</b></p>
							<p>Revisa la póliza de tu propietario o arrendatario con tu agente de seguros o compañía de seguros para asegurarte de que tu alojamiento tenga la cobertura de responsabilidad adecuada y protección de la propiedad.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">

					</div>
				</div>
			</div>

			<!-- End of the panel guest -->

			<!-- FOOTER -->
			<hr>
			<div class="container" style="margin-top: 70px;">
				<div class="row">
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Airbnb</h6>
							<ul style="list-style: none;">
								<li><a href="/help">Ayuda</a></li>
								<li><a href="#">Pol&iacuteticas</a></li>
								<li><a href="/terminos">T&eacuterminos</a></li>
								<li><a href="/politicas-privacidad">Privacidad</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Descubrir</h6>
							<ul style="list-style: none;">
								<li><a href="#">Confianza y seguridad</a></li>
								<li><a href="#">Mapa del sitio</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Alojamiento</h6>
							<ul style="list-style: none;">
								<li><a href="/por-que-anfitrion">Por qu&eacute anfitri&oacuten/a</a></li>
								<li><a href="/alojamiento-responsable">Alojamiento Responsable</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h5 style="margin-left: 40px;">
							<a href="https://es-la.facebook.com/airbnb/" target="_blank" style="color: #3B5998;"><i class="fa fa-facebook" style="padding-right: 20px;"></i></a>
							<a href="https://twitter.com/airbnb" target="_blank" style="color: #00ACEE;"><i class="fa fa-twitter" style="padding-right: 20px;"></i></a>
							<a href="https://www.instagram.com/airbnb/" target="_blank" style="color: #d6249f;"><i class="fa fa-instagram" style="padding-right: 20px;"></i></a>
							</h5>
							<ul style="list-style: none;">
								<li><a href="#">Reseñas</a></li>
								<li><a href="/suggestions">Sugerencias</a></li>
								<li><a href="/contact">Contacto</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>

	</body>
</html>