<!DOCTYPE html>
<html>
	<head>
        <title>Reservas Anteriores</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="/style/reservas-anteriores.css">
	
    </head>
	<body>
		<div class="container">
                
            <div class="row align-self-stretch">

                <div class="col-md-12 titulo-general rounded">
					<h1>Mis reservas</h1>
				</div>
                

                <div class="select-fecha col-md-12 border rounded">
                    <label for="start">Escoja una fecha &nbsp</label>
                    <input type="date" id="start" name="trip-start" value="2022-11-26">
                </div>
                <div class="informacion-casa col-md-12 select-box_div rounded">
                    <div class="row">
                        <div class="col-md-4 contenedor-imagen">
                            <div class="contenedor rounded">
                                <img class="imagen-casa" src="https://s2.glbimg.com/S68qSscRNuEDNZ2vavmrtyUWfA8=/512x320/smart/e.glbimg.com/og/ed/f/original/2018/12/10/apartamento-pequeno-doob-arquitetura09.jpg" alt="" style="width: 100%; height: 100%;">
                            </div>
                        </div>
                        <div class="contenedor-datos cold-md-8">
                            <div class="rows">
                                <div class="col-md-12 border-bottom">
                                    <label class="nombre-propiedad">Amanda Villa</label>
                                </div>
                                &nbsp
                                <div class="col-md-12">
                                    <label class="titulos">Fecha de reserva:</label>
                                    <label class="respuesta">23/11/2022 - 26/11/2022</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="titulos">Detalles de reserva:</label>
                                    <label class="respuesta">Huépedes: 2</label>
                                    <label class="respuesta">Piscina</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="titulos">Ubicación de reserva:</label>
                                    <label class="respuesta2">Calle 20 no.3, Gurabo, Santiago, Rep. Dom.</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="titulos">Precio:</label>
                                    <label class="respuesta">$20.00</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="titulos">Anfitrión:</label>
                                    <label class="respuesta2">María José</label>
                                </div>
                                <div class="col-md-12">
                                    <label class="titulos">Fecha de solicitud de reserva:</label>
                                    <label class="respuesta">26/11/2022 - 10:53p.m.</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
		</div>

	</body>
</html>