<!DOCTYPE html>
<html>
	<head>
		<!-- SE ACTIVA COMO PARTE DEL PANEL DE VISITANTE-->

		<!-- The name between <title> tag defines the title of the document. -->
		<title>Terminos de servicios</title>

		<!-- Bootstrap 4 is designed to be responsive to mobile devices. Mobile-first styles are part of the core framework.

		To ensure proper rendering and touch zooming, add the following <meta> tag inside the <head> element: -->

			<meta name="viewport" content="width=device-width, initial-scale=1">

			<!-- Bootstrap link -->

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
			
			<!-- Font selection link -->

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

			<!-- The Styles used has been stored and saved in another file named "style.css" and linked through <link> tag as shown below: -->	

			<link rel="stylesheet" href="/style/terminos.css">
			<!--Airbnb icon-->
			<link rel="shortcut icon" type="image/x-icon" href="/sources/Airbnb icon.ico"/>
		</head>
		<body class="background_img">

				<!-- This is to display the Navbar of the website. -->

				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="collapse navbar-collapse">

					<!-- SVG for Logo -->
					<a href="./home"><img src="/sources/airbnb icon black.png" alt="" style="height: 40px; width: 40px; left: 15px; position: relative;"></a>
					<h4 style="position: relative; left: 20px;">Centro de ayuda</h4>
					<!-- End of SVG -->

					<ul class="navbar-nav ml-auto navbar_move">
						<li class="nav-item btn_flashy"><a class="nav-link" href="become-host">Hazte Anfitri&oacuten</a></li>
						
						<li class="nav-item dropdown">
							<a class="nav-link menu_property" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="material-symbols-outlined setting-menu">menu</span>
								<img class="rounded-circle" src="/sources/person-icon.png" alt="" style="width: 40px; height: 40px;">
							</a>
	
							<ul class="dropdown-menu dropdown_father">
								<li><a class="dropdown-item dropdown_children" href="./">Iniciar Sesi&oacuten</a></li>
								<li><a class="dropdown-item dropdown_children" href="./register">Registrarse</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/messages-guest">Mensajes</a></li>
								<li><a class="dropdown-item dropdown_children" href="/notification-guest">Notificaciones</a></li>
								<li><a class="dropdown-item dropdown_children" href="/favorites-guest">Lista de Favoritos</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/receives-guest">Recibe hu&eacutespedes</a></li>
								<li><a class="dropdown-item dropdown_children" href="/account">Cuenta</a></li>
								<hr class="change_line_navbar">
								<li><a class="dropdown-item dropdown_children" href="/help">Ayuda</a></li>
								<li><a class="dropdown-item dropdown_children" href="#">Cerrar Sesi&oacuten</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</nav>
            <hr class="change_line">

			<!-- End of NavBar -->

			<!-- This is to display the message box of the panel guest in the website. -->

			<div class="container-father">
				<div class="content-center select-box_div">
					<h2 class="title-box_div position-title">Términos de Servicios</h2>
					<hr class="change_line">
					<div>
						<div class="content-table">
							<table>
								<tr>
									<td>
										Tabla de Contenido.
										<ol>
											
											<a href="#title1">Términos para Huéspedes</a>
											
	
											<li>
												<a href="#title2">Nuestra misión.</a>
											</li>
	
											<li>
												<a href="#title3">Búsqueda y Reservación en Airbnb.</a>
											</li>
	
											<li>
												<a href="#title4">Cancelaciones, Contratiempos de Viaje, Reembolsos y Modificaciones a la Reservación.</a>
											</li>

											<li>
												<a href="#title5">Responsabilidad del Huésped y Asunción de Riesgos.</a>
											</li>

											
											<a href="#title6">Términos para Anfitriones</a>
											

											<li>
												<a href="#title7">Ser Anfitrión en Airbnb.</a>
											</li>

											<li>
												<a href="#title8">Administración de su Anuncio.</a>
											</li>

											<li>
												<a href="#title9">Cancelaciones, Contratiempos de Viaje y Modificaciones de Reservaciones.</a>
											</li>

											<li>
												<a href="#title10">Impuestos.</a>
											</li>

											
											<a href="#title11">Términos Generales</a>
											

											<li>
												<a href="#title12">Evaluaciones.</a>
											</li>

											<li>
												<a href="#title13">Contenido.</a>
											</li>

											<li>
												<a href="#title14">Tarifas.</a>
											</li>

											<li>
												<a href="#title15">Normas de la Plataforma Airbnb.</a>
											</li>

											<li>
												<a href="#title16">Terminación, Suspensión y otras Medidas.</a>
											</li>
										</ol>
									</td>
								</tr>
							</table>
						</div>
						<hr style="height: 150px; visibility: hidden;">

						
						<h4 id="title1">Términos para Huéspedes</h4>
						<hr class="change_line" style="width: 630px;">
						<br>

						<h4 id="title2">1. Nuestra misión.</h4>
						<p>Nuestra Misión es crear un mundo donde usted pueda sentirse como en casa donde vaya. Desde cabañas hasta castillos y clases de cocina, revise entre millones de Anuncios para encontrar los que se ajusten a sus preferencias. Para obtener más información sobre un Anuncio, consulte la descripción y las fotos, el Perfil del Anfitrión y las evaluaciones de los Huéspedes. Si tiene alguna duda, envíe un mensaje al Anfitrión.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title3">2. Búsqueda y Reservación en Airbnb.</h4>
						<p>¿No tienes claro cuándo te vamos a cobrar una reserva? ¿O quieres saber qué hacer si un pago da error? En este artículo analizaremos todos los aspectos económicos de las reservas y resolveremos estas dudas tan importantes.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>2.1 Búsqueda</h5>
						<p>Usted puede buscar los Servicios del Anfitrión utilizando criterios como el tipo de Servicio del Anfitrión, el destino de viaje, las fechas y el número de Huéspedes. Usted también puede utilizar filtros para refinar los resultados de búsqueda. Los resultados de búsqueda se basan en la relevancia para su búsqueda y otros criterios. La relevancia tiene en cuenta factores como el precio, la disponibilidad, las Evaluaciones, el servicio al cliente y el historial de cancelaciones, la popularidad, los viajes anteriores y los Anuncios guardados, los requisitos del Anfitrión (por ejemplo, el número mínimo y máximo de noches) y más. Obtenga más información sobre los resultados de búsqueda en el Centro de Ayuda.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>2.2 Reservaciones.</h5>
						<p>Al reservar un Anuncio, usted acepta pagar todos los cargos por su reservación, incluido el precio del Anuncio, las tarifas aplicables, como la tarifa de servicio de Airbnb, las tarifas fuera de línea, los impuestos y otros elementos identificados durante el proceso de pago (en conjunto, el “Precio Total”). Usted también acepta que Airbnb a través de Airbnb Pagos pueda realizar cobros al Método de Pago (como se define en los Términos de Pago) utilizado para reservar el Anuncio con el fin de cobrar los montos de Reclamación por Daños (como se define en la Sección 15). Cuando reciba la confirmación de la reservación, usted y el Anfitrión celebrarán directamente un contrato por Servicios del Anfitrión (una "Reservación"). Además de estos Términos, usted estará sujeto y será responsable de cumplir con todos los términos de la Reservación, incluidos, sin limitación, la política de cancelación y cualesquiera otras reglas, estándares, políticas o requisitos identificados en el Anuncio o durante el proceso de reserva y pago que se aplique a la Reservación. Es su responsabilidad leer y comprender estas reglas, estándares, políticas y requisitos antes de reservar un Anuncio. Tenga en cuenta que algunos Anfitriones trabajan con un coanfitrión o como parte de un equipo para proporcionar los Servicios del Anfitrión.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>2.3 Reservaciones de Alojamiento.</h5>
						<p>Una Reservación de Alojamiento es una licencia limitada para ingresar, ocupar y utilizar el Alojamiento. El Anfitrión se reserva el derecho de reingresar al Alojamiento durante su estancia en la medida en que: (i) sea razonablemente necesario, (ii) esté permitido por su contrato con el Anfitrión y (iii) sea compatible con la legislación aplicable. Si usted se queda después de la fecha de salida, el Anfitrión tiene derecho a hacer que se marche de una manera consecuente con la ley aplicable, incluso imponiendo penalidades razonables por estancia prolongada. Usted no puede superar el número máximo de Huéspedes permitido.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>2.4 Reservaciones para Experiencias y otros Servicios del Anfitrión. </h5>
						<p>Una Experiencia u otra Reservación de un Servicio del Anfitrión le da derecho a participar, asistir o utilizar dicho Servicio del Anfitrión. Usted es responsable de confirmar que usted y cualquier persona a quien invite cumplen con la edad mínima, competencia, condición física u otros requisitos establecidos. Usted es responsable de informar al Anfitrión de cualquier condición médica, física u otra circunstancia que pueda afectar su capacidad para participar, asistir o utilizar el Servicio del Anfitrión. Salvo cuando haya autorización expresa, usted no puede permitir que ninguna persona participe en un Servicio del Anfitrión a menos que se incluya como huésped adicional durante el proceso de reservación.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title4">3. Cancelaciones, Contratiempos de Viaje, Reembolsos y Modificaciones a la Reservación.</h4>
						<hr class="change_line" style="width: 630px;">

						<h5>3.1 Cancelaciones, Contratiempos de Viaje y Reembolsos.</h5>
						<p>En general, si en calidad de Huésped usted cancela una Reservación, el importe que se le reembolse se determinará de acuerdo con la política de cancelación aplicable a dicha Reservación. Pero, en ciertas situaciones, otras políticas tienen prioridad y determinan el monto a reembolsar. Si algo fuera de su control le obliga a cancelar una Reservación, usted podría cumplir con los requisitos para recibir un reembolso total o parcial de acuerdo con la Política de Causas de Fuerza Mayor. Si el Anfitrión cancela o usted experimenta un Contratiempo de Viaje (según se define en la Política de Reembolso al Huésped), usted podría cumplir con los requisitos para recibir un reembolso total o parcial, o para obtener asistencia para hacer una nueva reservación de acuerdo con la Política de Reembolso al Huésped. Diferentes políticas aplican a determinadas categorías de Anuncios. Por ejemplo, las Reservaciones de Experiencias se rigen por la Política de Reembolso al Huésped de Experiencias. Consulte cada Término Legal Adicional o Política para obtener detalles sobre lo que está cubierto y qué reembolso se aplica en cada situación.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>3.2 Modificaciones de Reservaciones.</h5>
						<p>Los Anfitriones y Huéspedes son responsables de cualquier modificación a la reservación que acepten realizar por medio de la Plataforma Airbnb o que indiquen realizar en su nombre al servicio de atención al cliente de Airbnb (“Modificación a la Reservación”), y aceptan pagar cualquier cantidad adicional, comisión o impuesto asociado con cualesquiera Modificación a la Reservación.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title5">4. Responsabilidad del Huésped y Asunción de Riesgos.</h4>
						<hr class="change_line" style="width: 630px;">

						<h5>4.1 Responsabilidades.</h5>
						<p>Usted es responsable de sus propios actos y omisiones y también de los actos y omisiones de cualquier persona a la que invite a unirse o a la que de acceso a cualquier Alojamiento, Experiencia u otro Servicio del Anfitrión. Por ejemplo, esto significa que: (i) usted es responsable de retirarse de un Alojamiento (y bienes personales relacionados) en el estado en que se encontraban a su llegada, (ii) usted es responsable de pagar todos los montos razonables de Reclamación de Daños necesarios para cubrir los daños que usted, su(s) huésped(es) o su(s) mascota(s) causen a un Alojamiento, y (iii) usted debe actuar con integridad, tratar a los demás con respeto y cumplir con las leyes aplicables en todo momento. Si usted está reservando para un huésped adicional menor de edad o si lleva a un menor a un Servicio del Anfitrión, usted debe estar legalmente autorizado para actuar en nombre del menor y usted es el único responsable de la supervisión de dicho menor.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>4.2 Su asunción de Riesgos.</h5>
						<p>Usted reconoce que muchas actividades conllevan riesgos inherentes y acuerda que, en la medida en que lo permita la ley aplicable, usted asume todo el riesgo que se derive de su acceso y uso de la Plataforma Airbnb y cualquier Contenido (según se define en la Sección 10), incluida su estancia en cualquier alojamiento, su participación en cualquier Experiencia, el uso de cualquier otro Servicio del Anfitrión o cualquier otra interacción que tenga con otros miembros, ya sea en persona o en línea. Esto significa que usted es responsable de verificar un Servicio del Anfitrión para determinar si es adecuado para usted. Por ejemplo, los Servicios del Anfitrión podrían conllevar riesgo de enfermedad, lesiones corporales, discapacidad o muerte, y usted asume libre y voluntariamente esos riesgos al elegir participar en dichos Servicios del Anfitrión.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<hr class="change_line" style="width: 630px;">
						<h4 id="title6">Términos para Anfitriones</h4>
						<hr class="change_line" style="width: 630px;">
						<br>


						<h4 id="title7">5. Ser Anfitrión en Airbnb.</h4>
						<hr class="change_line" style="width: 630px;">

						<h5>5.1 Anfitrión.</h5>
						<p>Como Anfitrión, Airbnb le ofrece el derecho a usar la Plataforma Airbnb para compartir su Alojamiento, Experiencia u otro Servicio del Anfitrión con nuestra animada comunidad de huéspedes y ganar dinero por hacerlo. Crear un Anuncio es fácil y usted tiene el control de cómo brinda el Servicio del Anfitrión: cómo fija su precio, la disponibilidad y las reglas de cada Anuncio.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>5.2 Contratar con Huéspedes.</h5>
						<p>Cuando usted acepta una solicitud de reservación o recibe una confirmación de reservación a través de la Plataforma Airbnb, usted está celebrando un contrato directamente con el Huésped y usted es responsable de entregar su Servicio del Anfitrión en los términos y al precio especificados en su Anuncio. Usted también acepta pagar las tarifas aplicables, como la tarifa de servicio de Airbnb (y los impuestos aplicables) de cada reservación. Airbnb Pagos deducirá las cantidades que usted adeude de sus sumas a cobrar a menos que usted y Airbnb acuerden un método diferente. Cualesquier términos, políticas o condiciones que incluya en cualquier contrato complementario con los Huéspedes deben: (i) ser coherentes con los presentes Términos, nuestros Términos Legales Adicionales, Políticas, y la información proporcionada en su Anuncio, y (ii) aparecer de forma destacada en la descripción de su Anuncio.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>5.3 Independencia de los Anfitriones.</h5>
						<p>La relación de usted con Airbnb es la de una persona o entidad independiente y no la de un empleado, agente, empresa conjunta o socio de Airbnb, excepto que Airbnb Pagos actúa como agente de cobro de pagos como se describe en los Términos de Pago. Airbnb no dirige ni controla su Servicio del Anfitrión, y usted acepta que tiene total discreción sobre cómo y cuándo prestar los Servicios del Anfitrión y a qué precio y en qué condiciones ofrecerlos.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title8">6. Administración de su Anuncio.</h4>
						<hr class="change_line" style="width: 630px;">

						<h5>6.1 Creación y Administración de su Anuncio.</h5>
						<p>La Plataforma Airbnb ofrece herramientas que le ayudarán a configurar y administrar un Anuncio. Su Anuncio debe incluir información completa y precisa sobre su Servicio del Anfitrión, su precio, otros cargos como tarifas de limpieza, tarifas del resort, tarifas fuera de línea y cualquier norma o requisito aplicable a sus Huéspedes o a su Anuncio. Usted es responsable de mantener la información de su Anuncio (incluida la disponibilidad del calendario) y el contenido (como las fotos) actualizados y precisos en todo momento. Le recomendamos que obtenga un seguro adecuado para sus Servicios del Anfitrión y le sugerimos que revise cuidadosamente los términos y condiciones de la póliza, incluidos los detalles de la cobertura y las exclusiones. Usted puede mantener solo un Anuncio por alojamiento, sin embargo, podría tener varios Anuncios para una sola propiedad si esta tiene varios alojamientos. Cualquier oferta de una Experiencia está sujeta a nuestros Términos adicionales para Anfitriones de Experiencias.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>6.2 Conozca sus Obligaciones Legales.</h5>
						<p>Usted es responsable de comprender y cumplir con todas las leyes, normas, reglamentos y contratos con terceros que se apliquen a su Anuncio o Servicios del Anfitrión. Por ejemplo: algunos propietarios y/o contratos, o reglas de asociación de propietarios y condominios, restringen o prohíben el subarrendamiento, o bien la prestación de Servicios del Anfitrión para estancias cortas y/o largas. Algunas ciudades tienen leyes de zonificación u otras similares que restringen el compartir espacios en zonas residenciales para estancias cortas. Algunas jurisdicciones exigen que los Anfitriones se inscriban en un registro, obtengan un permiso o licencia antes de prestar determinados Servicios del Anfitrión (como alojamientos para estancias cortas o largas, preparación de alimentos, venta de alcohol, visitas guiadas o conducción de vehículos). En algunos lugares, es posible que los Servicios del Anfitrión que desea ofrecer estén prohibidos por completo. Algunas jurisdicciones exigen que registre a los Huéspedes que se queden en su alojamiento. Algunas jurisdicciones tienen leyes que crean derechos de arrendamiento adicionales para los Huéspedes y obligaciones adicionales para los Anfitriones. Por ejemplo, algunos lugares tienen leyes de arrendador-arrendatario, control de precio, y desalojo, que podrían aplicarse a las estancias más largas. Consulte las normas locales para saber cuáles se aplican a los Servicios del Anfitrión que planea ofrecer. La información que proporcionamos con respecto a los requisitos legales es únicamente de carácter informativo, y usted debe corroborar de forma independiente sus obligaciones. Usted es responsable de administrar y utilizar los datos personales de los Huéspedes y otras personas de conformidad con las leyes de privacidad aplicables y los presentes Términos, incluidos nuestros Estándares de Privacidad para Anfitriones. Si tiene alguna duda sobre cómo se aplican las leyes locales, debe buscar asesoría legal en todo momento.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>6.3 Clasificación de Búsqueda.</h5>
						<p>La clasificación de los Anuncios en los resultados de búsqueda en la Plataforma Airbnb depende de una variedad de factores, incluidos los siguientes parámetros principales:</p>
							<ul>
								<li>
									<p>Parámetros de búsqueda del Huésped (por ejemplo, número de Huéspedes, tiempo y duración del viaje, rango de precios)</p>
								</li>

								<li>
									<p>Características del Anuncio (por ejemplo, precio, disponibilidad del calendario, número y calidad de las imágenes, Evaluaciones, tipo de Servicio del Anfitrión, estatus del Anfitrión, antigüedad del Anuncio, popularidad promedio del Huésped)</p>
								</li>

								<li>
									<p>Experiencia de reservación del Huésped (por ejemplo, servicio al cliente e historial de cancelaciones del Anfitrión, facilidad de reservación)</p>
								</li>

								<li>
									<p>Requisitos del Anfitrión (por ejemplo, número mínimo o máximo de noches, hora límite de reservación)</p>
								</li>

								<li>
									<p>Preferencias del Huésped (por ejemplo, viajes anteriores, Anuncios guardados, ubicación desde la que el Huésped está buscando)</p>
								</li>
							</ul>
						<p>Los resultados de búsqueda pueden aparecer diferentes en nuestra aplicación móvil Airbnb de lo que aparecen en nuestro sitio web Airbnb. Airbnb puede permitir que los Anfitriones promocionen sus Anuncios en las búsquedas o en cualquier otro lugar de la Plataforma Airbnb pagando una tarifa adicional. Puede encontrar más información sobre los factores que determinan cómo aparece su Anuncio en los resultados de búsqueda, los programas promocionales actuales (si los hay), y cómo identificamos el Contenido promocional en nuestro Centro de Ayuda.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>6.4 Responsabilidades.</h5>
						<p>Usted es responsable de sus propios actos y omisiones y también es responsable de los actos y omisiones de cualquier persona a la que permita participar en la prestación de sus Servicios del Anfitrión. Usted es responsable de establecer el precio y las reglas y requisitos de su Anuncio. Usted debe describir todos y cada uno de los cargos y tarifas en la descripción de su Anuncio y no podrá cobrar ninguna tarifa o cargo adicional fuera de la Plataforma Airbnb, excepto los expresamente autorizados por la Política de Tarifas Fuera de Línea. No incentive a los Huéspedes a crear cuentas de terceros, enviar evaluaciones, proporcionar su información de contacto o tomar otras medidas fuera de la Plataforma Airbnb en infracción a la Política de Actividad Externa a la Plataforma.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>6.5 Compartir Alojamientos como Equipo u Organización. </h5>
						<p>Si usted trabaja con un coanfitrión o como parte de un equipo, empresa u otra organización, la entidad y cada persona que participe en la prestación de Servicios del Anfitrión es responsable como Anfitrión en virtud de los presentes Términos. Si usted acepta condiciones o celebra contratos, declara y garantiza que está autorizado para celebrar contratos y comprometer a su equipo, empresa u otra organización, y que cada entidad que utiliza está en regla de acuerdo con las leyes del lugar donde se establece. Si realiza otras funciones, usted reconoce y garantiza que tiene autorización para realizarlas. Si usted instruye a Airbnb para que transfiera una parte de su cobro a un coanfitrión u otros Anfitriones, o que envíe pagos a otra persona, usted debe estar autorizado para hacerlo y es responsable de los importes de pago y de la exactitud de la información de cobro que proporcione.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>6.6 Asunción de Riesgos.</h5>
						<p>Usted reconoce que ser anfitrión conlleva riesgos inherentes y acepta que asume todo riesgo que se derive de su acceso y uso de la Plataforma Airbnb, la oferta de Servicios del Anfitrión o cualquier interacción que tenga con otros Miembros, ya sea en persona o en línea. Usted acepta que ha tenido la oportunidad de informarse sobre la Plataforma Airbnb y cualquier ley, reglamento, normativa u obligación que pudiera aplicarse a sus Anuncios o Servicios del Anfitrión y que para ello no se basa en ninguna manifestación de ley o de derecho realizada por Airbnb.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title9">7. Cancelaciones, Contratiempos de Viaje y Modificaciones de Reservaciones.</h4>
						<hr class="change_line" style="width: 630px;">
						
						<h5>7.1 Cancelaciones y Contratiempos de Viaje.</h5>
						<p>En general, si un Huésped cancela una Reservación, el importe que a usted se le pague se determinará en función de la política de cancelación que se aplique a dicha Reservación. Como Anfitrión, usted no debe cancelarle a un Huésped sin un motivo válido de acuerdo con la Política de Causas de Fuerza Mayor o ley aplicable. Si usted como Anfitrión le cancela a un Huésped sin una razón válida, podríamos imponer una tarifa de cancelación y otras consecuencias. Si: (i) un Huésped experimenta un Contratiempo de Viaje (según se define en la Política de Reembolso al Huésped), (ii) una Causa de Fuerza Mayor o (iii) se cancela una Reservación de acuerdo con la Sección 13 de estos Términos, el importe que a usted se le pague como Anfitrión se reducirá en la cantidad que se le reembolse o proporcione al Huésped y en cualquier otro costo razonable en el que Airbnb incurra como resultado de la cancelación. Si un Huésped recibe un reembolso después de que usted haya recibido el cobro, o si el importe del reembolso y otros gastos incurridos por Airbnb exceden el monto que usted ha cobrado, Airbnb (a través de Airbnb Pagos) podría recuperarlo de usted, incluso compensando el reembolso con sus futuros cobros en calidad de Anfitrión. Usted acepta que la Política de Reembolso al Huésped de Airbnb, la Política de Causas de Fuerza Mayor y los presentes Términos prevén la política de cancelación que usted estableció en situaciones en las que se permite cancelar una Reservación o emitir reembolsos a los Huéspedes. Si se espera razonablemente proporcionar un reembolso a un Huésped en virtud de una de las políticas mencionadas precedentemente, se podría retrasar el envío de cualquier cobro correspondiente a dicha Reservación hasta que se tome una decisión sobre el reembolso. Si usted es Anfitrión de una Experiencia, tenga en cuenta que la Política de Cancelación de Experiencias, la Política de Reembolso al Huésped de Experiencias y las diferentes tarifas y consecuencias de cancelación se aplican a sus Reservaciones. Consulte cada Política para obtener detalles sobre lo que está cubierto y cuál será su cobro en cada situación.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>7.2 Modificaciones de Reservaciones.</h5>
						<p>Los Anfitriones y Huéspedes son responsables de cualesquiera Modificaciones de reservaciones que acepten realizar a través de la Plataforma Airbnb o que indiquen realizar en su nombre al servicio directo de atención al cliente de Airbnb, y aceptan pagar cualquier cantidad adicional, comisión o impuesto asociado con una Modificación de reservación.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title10">8. Impuestos.</h4>
						<hr class="change_line" style="width: 630px;">
						
						<h5>8.1 Impuestos al Anfitrión.</h5>
						<p>Como Anfitrión, usted es responsable de averiguar y cumplir sus obligaciones legales respecto a declarar, recaudar, liquidar o incluir en el precio el IVA u otros impuestos indirectos aplicables, impuestos sobre el alojamiento, tasas turísticas, impuestos sobre la renta u otros gravámenes (en lo sucesivo “Impuestos”).</p>
						<hr class="change_line" style="width: 630px;">
						
						<h5>8.2 Recaudación y liquidación por medio de Airbnb.</h5>
						<p>En las jurisdicciones donde Airbnb facilita la recaudación y/o la remisión de los Impuestos en nombre de los Anfitriones, usted instruye y autoriza a Airbnb para que recaude los Impuestos en su nombre y/o los remita a la autoridad fiscal correspondiente. Cualesquiera de los impuestos que Airbnb recauda y/o remite se indican a los Miembros en los registros de sus transacciones, según corresponda. Airbnb podría solicitar importes adicionales a los Miembros (incluyendo deducirlos de los cobros futuros) en caso de que los Impuestos recaudados y/o remitidos sean insuficientes para cumplir plenamente con las obligaciones fiscales de los Miembros, y usted acepta que su único recurso ante los Impuestos recaudados por Airbnb es un reembolso de la autoridad fiscal correspondiente. Usted reconoce y acepta que Airbnb se reserva el derecho, con previo aviso a los Miembros afectados, de cesar la recaudación y la remisión de Impuestos en cualquier jurisdicción por cualquier motivo.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>8.3 Información Fiscal.</h5>
						<p>En ciertas jurisdicciones, es posible que las regulaciones fiscales requieran que se recopile y/o reporte información fiscal sobre usted, que se retengan impuestos de los cobros, o ambos. Si usted no proporciona la documentación que se considere suficiente para justificar dicha obligación de retener los Impuestos de sus cobros, podrían retenerse los cobros hasta un importe según lo exija la ley, hasta que se proporcione documentación suficiente. Usted acepta que Airbnb podría emitir en su nombre facturas o documentación similar en relación con el IVA, el GST, el consumo u otros impuestos para sus Servicios del Anfitrión a fin de facilitar la presentación de informes fiscales precisos por su parte, los Huéspedes y/o sus organizaciones.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">

						
						<hr class="change_line" style="width: 630px;">
						<h4 id="title11">Términos Generales</h4>
						<hr class="change_line" style="width: 630px;">
						<br>

						<h4 id="title12">9. Evaluaciones.</h4>
						<hr class="change_line" style="width: 630px;">
						<p>Después de cada Servicio del Anfitrión, los Huéspedes y los Anfitriones tendrán la oportunidad de evaluarse mutuamente. Su Evaluación debe ser precisa y no puede contener ningún lenguaje discriminatorio, ofensivo, difamatorio u otro que infrinja la Política de Contenido o la Política de Evaluaciones. Airbnb no verifica la exactitud de las Evaluaciones, que podrían ser incorrectas o engañosas.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title13">10. Contenido.</h4>
						<hr class="change_line" style="width: 630px;">
						<p>Algunas partes de la Plataforma Airbnb le permiten proporcionar comentarios, texto, fotos, audio, video, información y otros contenidos (colectivamente, el “Contenido”). Al proporcionar Contenido, en cualquier forma y por cualquier medio, usted otorga a Airbnb una licencia no exclusiva, mundial, libre de regalías, irrevocable, perpetua, sublicenciable y transferible para copiar, modificar, preparar trabajos derivados, distribuir, publicar y explotar de otro modo dicho Contenido, sin limitación. Si el Contenido incluye información personal, la Política de Privacidad describe cómo se utilizan dichos datos. Cuando Airbnb paga por la creación de Contenido o facilita su creación, Airbnb podría ser el propietario de dicho Contenido, en cuyo caso los términos o divulgaciones complementarias lo indicarán. Usted es el único responsable de todo el Contenido que proporcione y garantiza que es titular o que está autorizado a conceder a Airbnb los derechos descritos en los presentes Términos. Usted es responsable si alguno de sus Contenidos viola o infringe los derechos de propiedad intelectual o privacidad de cualquier tercero. El Contenido debe cumplir con la Política de Contenido y la Política contra la Discriminación, que prohíbe, entre otras cosas, el contenido discriminatorio, obsceno, acosador, engañoso, violento e ilegal. Usted consiente que Airbnb ponga a disposición servicios o herramientas automatizadas para traducir el Contenido y que su Contenido se traduzca a través de dichos servicios o herramientas. Airbnb no garantiza la precisión o la calidad de las traducciones y los Miembros son responsables de corroborar la precisión de dichas traducciones.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title14">11. Tarifas.</h4>
						<hr class="change_line" style="width: 630px;">
						<p>Airbnb podría cobrar tarifas (e Impuestos aplicables) a Anfitriones y Huéspedes por el derecho a usar la Plataforma Airbnb. Usted puede encontrar más información sobre cuándo se aplican las tarifas de servicio y cómo se calculan en la página de Tarifas de Servicio. Salvo que se disponga lo contrario en la Plataforma Airbnb, las tarifas de servicio no son reembolsables. Airbnb se reserva el derecho de modificar las tarifas de servicio en cualquier momento, y notificará a los Miembros cualquier cambio en las tarifas antes de que entren en vigor. Los cambios en las tarifas no afectarán a las reservaciones realizadas antes de la entrada en vigor del cambio de las mismas. Si usted no está de acuerdo con un cambio en las tarifas, puede rescindir este contrato en cualquier momento de conformidad con la Sección 13.2.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title15">12. Normas de la Plataforma Airbnb.</h4>
						<hr class="change_line" style="width: 630px;">
						
						<h5>12.1 Normas.</h5>
						<p>Usted debe seguir estas normas y no debe ayudar o inducir a otros a romperlas o eludirlas.</p>
							<ul>
								<li>
									<p>Actúe con integridad y trate a los demás con respeto.</p>
									<ul>
										<li>
											<p>No mienta, tergiverse ni represente falsamente a alguien ni finja ser otra persona.</p>
										</li>
										<li>
											<p>Sea educado y respetuoso al comunicarse o interactuar con otros.</p>
										</li>
										<li>
											<p>Siga nuestra Política contra la Discriminación y no discrimine ni acose a otras personas.</p>
										</li>
									</ul>
								</li>

								<li>
									<p>No extraiga contenidos, no acceda ilegalmente, no realice ingeniería inversa, no comprometa ni menoscabe la Plataforma Airbnb.</p>
									<ul>
										<li>
											<p>No utilice bots, rastreadores, extractores de contenido u otros medios automatizados para acceder o recopilar datos u otro contenido de la Plataforma Airbnb o interactuar de otro modo con ella.</p>
										</li>
										<li>
											<p>No acceda ilegalmente, no evite, elimine, menoscabe ni intente eludir ninguna medida tecnológica o de seguridad utilizada para proteger la Plataforma Airbnb o su Contenido.</p>
										</li>
										<li>
											<p>No descifre, descompile, desmonte ni realice ingeniería inversa de ningún software o hardware utilizado para proporcionar la Plataforma Airbnb.</p>
										</li>
										<li>
											<p>No tome ninguna medida que pueda dañar o afectar negativamente el rendimiento o el buen funcionamiento de la Plataforma Airbnb.</p>
										</li>
									</ul>
								</li>

								<li>
									<p>Solo utilice la Plataforma Airbnb según lo autorizado por estos Términos u otro acuerdo con nosotros.</p>
									<ul>
										<li>
											<p>Usted solo puede utilizar la información personal de otro Miembro según sea necesario para facilitar una transacción utilizando la Plataforma Airbnb conforme a lo autorizado por los presentes Términos.</p>
										</li>
										<li>
											<p>No utilice la Plataforma Airbnb, nuestras herramientas de mensajes ni la información personal de los Miembros para enviar mensajes comerciales sin el consentimiento expreso del destinatario.</p>
										</li>
										<li>
											<p>Usted puede utilizar el Contenido disponible a través de la Plataforma Airbnb únicamente según sea necesario para permitir el uso de la Plataforma Airbnb como Huésped o Anfitrión.</p>
										</li>
										<li>
											<p>No utilice Contenido a menos que tenga permiso de su propietario o que el uso esté autorizado por nosotros en estos Términos u otro acuerdo que usted tenga con nosotros.</p>
										</li>
										<li>
											<p>No solicite, realice ni acepte una reservación ni ningún pago fuera de la Plataforma Airbnb con el fin de evitar pagar tarifas, impuestos o por cualquier otro motivo. Consulte nuestra Política de Tarifas Fuera de Línea para ver las excepciones.</p>
										</li>
										<li>
											<p>No exija ni anime a los huéspedes a abrir una cuenta, dejar una evaluación, completar una encuesta o interactuar de otro modo con un sitio web, aplicación o servicio de terceros antes, durante o después de una Reservación, a menos que Airbnb lo autorice.</p>
										</li>
										<li>
											<p>No se involucre en ninguna práctica que pretenda manipular nuestro algoritmo de búsqueda.</p>
										</li>
										<li>
											<p>No reserve Servicios del Anfitrión a menos que efectivamente vaya a utilizarlos.</p>
										</li>
										<li>
											<p>No utilice, copie, muestre, ni refleje la Plataforma Airbnb, ningún Contenido, ninguna marca de Airbnb ni ningún diseño o disposición de la página sin nuestro consentimiento.</p>
										</li>
									</ul>
								</li>

								<li>
									<p>Cumpla con sus obligaciones legales.</p>
									<ul>
										<li>
											<p>Comprenda y siga las leyes que se le apliquen, incluidas las leyes de privacidad, protección de datos y exportación.</p>
										</li>
										<li>
											<p>Si usted nos proporciona la información personal de otra persona: (i) debe hacerlo de conformidad con la legislación aplicable, (ii) debe estar autorizado para hacerlo y (iii) usted nos autoriza a procesar esa información en virtud de nuestra Política de Privacidad.</p>
										</li>
										<li>
											<p>Lea y siga nuestros Términos, Términos Legales Adicionales, Políticas y Estándares.</p>
										</li>
										<li>
											<p>No organice ni facilite fiestas ni eventos no autorizados. Usted es responsable y deberá responder por cualquier fiesta o evento realizado durante su Reservación que incumpla nuestras reglas para fiestas y eventos, tal como se incorporan por referencia en este documento.</p>
										</li>
										<li>
											<p>No utilice el nombre, el logotipo, la marca registrada o las marcas comerciales de Airbnb u otras personas sin autorización.</p>
										</li>
										<li>
											<p>No utilice ni registre ningún dominio, nombre de usuario de redes sociales, nombre comercial, marca comercial, marca, logotipo u otro identificador de origen que pueda confundirse con la marca de Airbnb.</p>
										</li>
										<li>
											<p>No ofrezca Servicios del Anfitrión que infrinjan las leyes o acuerdos que le sean aplicables.</p>
										</li>
										<li>
											<p>No ofrezca ni solicite servicios de prostitución ni facilite o tome parte en la trata de personas.</p>
										</li>
									</ul>
								</li>
							</ul>
						<hr class="change_line" style="width: 630px;">
						
						<h5>12.2 Denuncia de Infracciones.</h5>
						<p>Si usted considera que un Miembro, Anuncio o Contenido representa un riesgo inminente de daño para una persona o propiedad, debe ponerse en contacto inmediato con las autoridades locales antes de ponerse en contacto con Airbnb. Además, si considera que un Miembro, un Anuncio o un Contenido han infringido las Normas, usted debe comunicar sus inquietudes a Airbnb. Si usted denuncia un problema a las autoridades locales, Airbnb podría solicitar una copia de dicho reporte. Excepto cuando lo exija la ley, usted acepta que no estamos obligados a tomar acciones en respuesta a ningún reporte.</p>
						<hr class="change_line" style="width: 630px;">
						
						<h5>12.3 Notificaciones de Derechos de Autor.</h5>
						<p>Si usted cree que el contenido de la Plataforma Airbnb infringe derechos de autor, por favor notifique a la Plataforma Airbnb de conformidad con la Política de Derechos de Autor.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						<h4 id="title16">13. Terminación, Suspensión y otras Medidas.</h4>
						<hr class="change_line" style="width: 630px;">

						<h5>13.1 Duración.</h5>
						<p>El contrato entre usted y Airbnb reflejado en los presentes Términos entra en vigor cuando usted accede a la Plataforma Airbnb (por ejemplo, para crear una cuenta) y permanece vigente hasta que usted o Airbnb rescindan el contrato en virtud de estos Términos.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>13.2 Terminación.</h5>
						<p>Usted puede rescindir este contrato en cualquier momento enviando un correo electrónico o eliminando su cuenta. Airbnb podría rescindir este contrato y su cuenta por cualquier motivo notificándole con 30 (treinta) días de anticipación por correo electrónico o utilizando cualquier otra información de contacto que usted haya proporcionado en su cuenta. Airbnb también puede rescindir este contrato de inmediato y sin previo aviso y dejar de proporcionar acceso a la Plataforma Airbnb si usted incumple estos Términos, infringe nuestros Términos Legales Adicionales o Políticas, infringe las leyes aplicables o si consideramos razonablemente que la rescisión es necesaria para proteger a Airbnb, a sus Miembros o a terceros. Si su cuenta está inactiva por más de dos años, podríamos cancelarla sin previo aviso.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>13.3 Infracciones cometidas por Miembros.</h5>
						<p>Si (i) incumple estos Términos, nuestros Términos Legales Adicionales, nuestras Políticas o Estándares, (ii) infringe las leyes, normativas aplicables o los derechos de terceros, o (iii) Airbnb considera razonablemente necesario proteger a Airbnb, a sus Miembros o a terceros; Airbnb podría, con o sin previo aviso:</p>
							<ul>
								<li>
									<p>Suspender o limitar su acceso o uso de la Plataforma Airbnb y/o de su cuenta.</p>
								</li>

								<li>
									<p>Suspender o eliminar Anuncios, Evaluaciones u otro Contenido.</p>
								</li>

								<li>
									<p>Cancelar reservaciones pendientes o confirmadas.</p>
								</li>

								<li>
									<p>Suspender o revocar cualquier estado especial asociado a su cuenta.</p>
								</li>
							</ul>
						<p>En el caso de infracciones menores o cuando sea apropiado tal como sea determinado por Airbnb a su entera discreción, Airbnb le notificará cualquier medida prevista y le dará la oportunidad de resolver el problema. Usted puede apelar las acciones que se tomen en virtud de esta Sección poniéndose en contacto con el servicio de atención al cliente. Si se cancela una Reservación de acuerdo con esta Sección, el importe pagado al Anfitrión se reducirá en la cantidad que le reembolsemos o proporcionemos al Huésped y en cualquier otro costo en el que se incurra como resultado de la cancelación.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>13.4 Obligaciones Legales.</h5>
						<p>Airbnb podría tomar cualquier medida que considere razonablemente necesaria para cumplir con la ley aplicable, o la orden o requerimiento de un tribunal, un organismo de seguridad u otro organismo administrativo o gubernamental, incluidas las medidas descritas anteriormente en la Sección 13.3.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>13.5 Efectos de la Terminación.</h5>
						<p>Si usted es Anfitrión y cancela su cuenta en Airbnb, sus reservaciones confirmadas se cancelarán automáticamente y sus Huéspedes recibirán un reembolso total. Si usted cancela su cuenta como Huésped, las reservaciones confirmadas se cancelarán automáticamente y los reembolsos se regirán por los términos de la política de cancelación de la Reservación. Una vez que este contrato haya sido rescindido, usted no tendrá derecho a una restauración de su cuenta o de cualquiera de sus Contenidos. Si su acceso o uso de la Plataforma Airbnb fue limitado, o si su cuenta en Airbnb fue suspendida o si este acuerdo fue rescindido por Airbnb, usted no podrá registrar una cuenta nueva ni acceder o utilizar la Plataforma Airbnb a través de una cuenta de otro Miembro.</p>
						<hr class="change_line" style="width: 630px;">

						<h5>13.6 Supervivencia.</h5>
						<p>Partes de los presentes Términos que por su naturaleza sobreviven a la terminación de este contrato, incluidas las Secciones 2 a 26, sobrevivirán su respectiva terminación.</p>
						<hr class="change_line" style="width: 630px;">
						<hr style="height: 150px; visibility: hidden;">


						
						<hr style="height: 150px; visibility: hidden;">

					</div>
				</div>
			</div>

			<!-- End of the panel guest -->

			<!-- FOOTER -->
			<hr>
			<div class="container" style="margin-top: 70px;">
				<div class="row">
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Airbnb</h6>
							<ul style="list-style: none;">
								<li><a href="/help">Ayuda</a></li>
								<li><a href="#">Pol&iacuteticas</a></li>
								<li><a href="/terminos">T&eacuterminos</a></li>
								<li><a href="/politicas-privacidad">Privacidad</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Descubrir</h6>
							<ul style="list-style: none;">
								<li><a href="#">Confianza y seguridad</a></li>
								<li><a href="#">Mapa del sitio</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h6 style="margin-left: 40px;">Alojamiento</h6>
							<ul style="list-style: none;">
								<li><a href="/por-que-anfitrion">Por qu&eacute anfitri&oacuten/a</a></li>
								<li><a href="/alojamiento-responsable">Alojamiento Responsable</a></li>
							</ul>
						</section>
					</div>
					<div class="col-md-3">
						<section>
							<h5 style="margin-left: 40px;">
							<a href="https://es-la.facebook.com/airbnb/" target="_blank" style="color: #3B5998;"><i class="fa fa-facebook" style="padding-right: 20px;"></i></a>
							<a href="https://twitter.com/airbnb" target="_blank" style="color: #00ACEE;"><i class="fa fa-twitter" style="padding-right: 20px;"></i></a>
							<a href="https://www.instagram.com/airbnb/" target="_blank" style="color: #d6249f;"><i class="fa fa-instagram" style="padding-right: 20px;"></i></a>
							</h5>
							<ul style="list-style: none;">
								<li><a href="#">Reseñas</a></li>
								<li><a href="/suggestions">Sugerencias</a></li>
								<li><a href="/contact">Contacto</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>

	</body>
</html>