<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/style/registrarse.css">
        <!------ Include the above in your HEAD tag ---------->

        
    </head>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <body>
      <!-- This is to display the Navbar of the website. -->

				<nav class="navbar navbar-expand-lg navbar-light">
					<div class="collapse navbar-collapse">

						<!-- SVG for Logo -->

						<!-- Scalable Vector Graphics (SVG) is an XML-based vector image format for two-dimensional graphics with support for interactivity and animation. The SVG specification is an open standard developed by the World Wide Web Consortium (W3C) since 1999. SVG images and their behaviors are defined in XML text files. -->
					<a href="./home.html"><img src="/sources/Airbnb icon navbar.png" alt="" style="height: 50px; width: 100px;"></a>
					<!-- End of SVG -->
					<ul class="navbar-nav d-flex flex-row">
						<li class="nav-item"><a class="nav-link" href="./home.html">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#booking">Reservas</a></li>
						<li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
						<li class="nav-item"><a class="nav-link" href="#suggestions">Sugerencias</a></li>
						<li class="nav-item"><a class="nav-link" href="#aboutus">Sobre Nosotros</a></li>
					</ul>
 
					<ul class="navbar-nav ml-auto">
						<li class="btn_flashy" class="nav-item"><a class="nav-link" href="#host">Hazte Anfitri&oacuten</a></li>
						<li class="btn_flashy" class="nav-item"><a class="nav-link" href="./registrarse-correo.html">Registrarse</a></li>
						<li class="btn_flashy" class="nav-item"><a class="nav-link" href="./login.html">Iniciar Sesi&oacuten</a></li>
					</ul>
				</div>
			</nav>

			<!-- End of NavBar -->

        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto">
                  <div id="first">
                     <div class="myform form ">
                           <div class="logo mb-3">
                              <div class="col-md-12 text-center">
                                 <h1>Registrarse</h1>
                              </div>
                           </div>
                        <form action="" method="post" name="login">
                              <div class="form-group">
                                 <label for="exampleInputEmail1">Correo eléctronico</label>
                                 <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Digite correo electrónico">
                              </div>
                              <div class="form-group">
                                 <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                              </div>
                              <div class="col-md-12 text-center ">
                                 <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Continuar</button>
                              </div>
                              <div class="col-md-12 ">
                                 <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">o</span>
                                 </div>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <p class="text-center">
                                    <a href="javascript:void();" class="google btn mybtn2"><i class="fa fa-google">
                                       </i> Continuar con Google
                                    </a>
                                 </p>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <p class="text-center">
                                    <a href="javascript:void();" class="facebook btn mybtn2"><i class="fa fa-facebook">
                                       </i> Continuar con Facebook
                                    </a>
                                 </p>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <p class="text-center">
                                    <a href="javascript:void();" class="apple btn mybtn2"><i class="fa fa-apple">
                                       </i> Continuar con Apple
                                    </a>
                                 </p>
                              </div>
                              <div class="col-md-12 mb-3">
                                 <p class="text-center">
                                    <a href="registrarse-numero.html" class="numero btn mybtn2"><i class="fa fa-mobile-phone">
                                       </i> Continuar con Número telefónico
                                    </a>
                                 </p>
                              </div>
                        </form>
                     </div>
                  </div>
                </div>
            </div>
          </div>
    </body>
</html>